[alias]
	st = status
[commit]
	template = ~/.git_commit_msg.txt
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[include]
	path = .gitconfig.local
[pull]
	rebase = true
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[remote "origin"]
	prune = true
[user]
	name = Vitor De Mario
	email = vitor@jusbrasil.com.br
